{% extends 'webpage/base.html' %}
{% block content %}
	<div id="map" style="position:relative;overflow:hidden">
    <img src="../../static/img/mapa.png" alt="Mapa" usemap="#vendedoresmapa" style="position:absolute;height:100%;width:100%">
        <map name="vendedoresmapa" style="position:absolute;">
            <area shape="rect" coords="620,410,650,450" href="a.htm" alt="vendedor1">
            <area shape="rect" coords="605,465,635,515" href="b.htm" alt="vendedor2" >
            <area shape="rect" coords="605,516,635,546" href="c.htm" alt="vendedor3">
            <area shape="circle" coords="620,620,20" href="mercur.htm" alt="vendedorfav4">
            <area shape="rect" coords="655,630,685,670" href="d.htm" alt="vendedor5" ;>
        </map>
    </div>
<script>
window.onload = function () {
    var ImageMap = function () {
            var n,
                mapdiv = document.getElementById('map'),
                areas = document.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 1540,
                previousHeight = 1012;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = mapdiv.clientWidth/ previousWidth,
                    y = mapdiv.clientHeight / previousHeight;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < (clen/2); m++) {
                        coords[n][2*m] *= x;
                        coords[n][2*m+1] *= y;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = mapdiv.clientWidth;
                previousHeight = mapdiv.clientHeight;
                return true;
            };
            window.onresize = this.resize;
        },
        imageMap = new ImageMap(document.getElementById('map_ID'));
    imageMap.resize();
}
</script>
{% endblock %}
